2021-02-09/Flow/Array_manipulation_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":[["Nissan","Red",3,"01/07/2015"],["Citroen","Green",2,"21/09/2016"],["Audi","Blue",4,"01/07/2014"]]},"Apply_to_each":{"foreach":"@outputs('vehicle_array')","actions":{"Compose_2":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each')"}},"runAfter":{"vehicle_array":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Get_items":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://estifanos.sharepoint.com/teams/engparking","table":"3afde3fc-1b35-4b05-b91c-3bd8ba8a7fed"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_3":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_items')?['body/value']"},"Apply_to_each_2":{"foreach":"@outputs('Compose_3')","actions":{"Compose_4":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_2')"},"Parse_JSON":{"runAfter":{"Compose_4":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Compose_4')","schema":{"type":"object","properties":{"Title":{"type":"string"}}}}}},"runAfter":{"Compose_3":["Succeeded"]},"type":"Foreach"},"contains:_Check_whether_a_collection_has_a_specific_item":{"runAfter":{"Compose":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Contains_func_expressions","type":"string","value":"contains(body('Get_items')?['Value'],'Nissan')\ncontains(outputs('Compose'),'Nissan')\ncontains(first(outputs('Compose')),'Nissan')"}]}},"empty:_Check_whether_a_collection_is_empty":{"runAfter":{"contains:_Check_whether_a_collection_has_a_specific_item":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"empty","type":"boolean"}]}},"first:_Return_the_first_item_from_a_collection":{"runAfter":{"empty:_Check_whether_a_collection_is_empty":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"first","type":"boolean"}]}},"intersection":{"runAfter":{"first:_Return_the_first_item_from_a_collection":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"intersection","type":"string","value":"Return a coln that has only the common items across the specified colns.\n\nintersection(body('Get_items')?['Value'],body('Get_items_2')?['Value'])"}]}},"join":{"runAfter":{"intersection":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"join:","type":"string","value":"Return a string that has all the items from an array, separated by the specified character.\n\njoin(outputs('Compose'),';')"}]}},"last:_Return_the_last_item_from_a_collection":{"runAfter":{"join":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"last","type":"string"}]}},"length:_Return_the_number_of_items_in_a_string_or_array":{"runAfter":{"last:_Return_the_last_item_from_a_collection":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"length","type":"string"}]}},"skip:_Remove_items_from_the_front_of_a_collection_and_return_all_other_items":{"runAfter":{"length:_Return_the_number_of_items_in_a_string_or_array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"skip","type":"string","value":"skip(outputs('Compose'),2)"}]}},"take:_Return_items_from_the_front_of_a_collection":{"runAfter":{"skip:_Remove_items_from_the_front_of_a_collection_and_return_all_other_items":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"take","type":"string","value":"take(outputs('Compose'),2)"}]}},"union:_Return_a_coln_that_has_all_the_items_from_the_specified_collections":{"runAfter":{"take:_Return_items_from_the_front_of_a_collection":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"union","type":"string","value":"union(body('Get_items')?['Value'],outputs('Compose'))"}]}},"vehicle_array":{"runAfter":{"union:_Return_a_coln_that_has_all_the_items_from_the_specified_collections":["Succeeded"]},"type":"Compose","inputs":[["Nissan","Red",3,"01/07/2015"],["Citroen","Green",2,"21/09/2016"],["Audi","Blue",4,"01/07/2014"]]},"Select":{"runAfter":{"Compose_5":["Succeeded"]},"type":"Select","inputs":{"from":"@outputs('Compose_5')","select":{"FName":"@item()?['FName']"}}},"Compose_5":{"runAfter":{"Get_items":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_items')?['body/value']"},"Apply_to_each_3":{"foreach":"@body('Select')","actions":{"Compose_6":{"runAfter":{},"type":"Compose","inputs":{"FName":"@item()?['FName']","Length":"@length(items('Apply_to_each_3')?['FName'])"}}},"runAfter":{"Select":["Succeeded"]},"type":"Foreach"}}}