2021-02-09/Flow/CreateBackUp_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_Environment_as_Admin":{"runAfter":{"InitializeFlowDefinitionName":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins","connectionName":"shared_powerplatformforadmins","operationId":"GetSingleEnvironment"},"parameters":{"environment":"e51f29f6-d164-4a29-a320-d746c495bf7d","api-version":"2018-10-01"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_Flows_as_Admin":{"runAfter":{"Get_Environment_as_Admin":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement","connectionName":"shared_flowmanagement","operationId":"ListFlowsInEnvironment"},"parameters":{"environmentName":"Default-9196ad5b-adce-4c99-a751-c07fb57d300f"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Flow Name","type":"string"}]}},"Apply_to_each_3":{"foreach":"@outputs('List_Flows_as_Admin')?['body/value']","actions":{"Get_Flow":{"runAfter":{"Set_Flow_Name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement","connectionName":"shared_flowmanagement","operationId":"GetFlow"},"parameters":{"environmentName":"Default-9196ad5b-adce-4c99-a751-c07fb57d300f","flowName":"@variables('Flow Name')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_Flow_Name":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Flow Name","value":"@items('Apply_to_each_3')?['name']"}},"FlowDefinition":{"runAfter":{"Set_variable":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_Flow')?['body/properties/definition']"},"FlowConnection":{"runAfter":{"FlowDefinition":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_Flow')?['body/properties/connectionReferences']"},"Flow_Definition":{"runAfter":{"HTTP":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/FlowBackUp","name":"@{outputs('Get_Flow')?['body/properties/displayName']}_FlowDef.json","body":"@outputs('FlowDefinition')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Connection_References":{"runAfter":{"Flow_Definition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/FlowBackUp","name":"@{outputs('Get_Flow')?['body/properties/displayName']}_conRef.json","body":"@outputs('FlowConnection')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"HTTP_2":{"runAfter":{"FlowConnection":["Succeeded"]},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/devang9/testingrepo/contents/@{variables('TodaysDate')}/Flow/@{variables('FlowDisplayName')}_conRef.json","headers":{"Authorization":"token @{outputs('Compose')}"},"body":{"message":"my commit","content":"@{base64(outputs('FlowConnection'))}"}}},"HTTP":{"runAfter":{"HTTP_2":["Succeeded"]},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/devang9/testingrepo/contents/@{variables('TodaysDate')}/Flow/@{variables('FlowDisplayName')}_FlowDef.json","headers":{"Authorization":"token @{outputs('Compose')}"},"body":{"message":"my commit","content":"@{base64(outputs('FlowDefinition'))}"}}},"Set_variable":{"runAfter":{"Get_Flow":["Succeeded"]},"type":"SetVariable","inputs":{"name":"FlowDisplayName","value":"@{replace(replace(replace(outputs('Get_Flow')?['body/properties/displayName'],':','_'),'/','_'),' ','_')}"}}},"runAfter":{"List_Flows_as_Admin":["Succeeded"]},"type":"Foreach"},"Initialize_variable":{"runAfter":{"Compose":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TodaysDate","type":"string","value":"@{formatDateTime(utcNow(),'yyyy-MM-dd')}"}]}},"InitializeFlowDefinitionName":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FlowDisplayName","type":"string"}]}},"token":{"runAfter":{},"type":"Compose","inputs":"3cb4d8bc61fabf2c61982929ecc1a067b05176d5"},"Compose":{"runAfter":{"token":["Succeeded"]},"type":"Compose","inputs":"71a9a9ec5bf12758d7c00b04e76e0679d4c3624a"}}}