2021-02-09/Flow/Http_to_Sharepoint_test_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://estifanos.sharepoint.com/teams/engparking","parameters/method":"POST","parameters/uri":"_api/web/lists/getByTitle('FlowTesting')/items","parameters/headers":{"accept":"application/JSON;metadata=verbose"},"parameters/body":"{\n\"Title\":\"New test3\",\n\"Favouritecolor\":\"blue black\",\n \"Owner\": {\n\"@odata.type\":\"#Microsoft.Azure.Connectors.SharePoint.SPListExpandedUser\",\"DisplayName\":\"Steve Bekele\"\n}\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_items":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://estifanos.sharepoint.com/teams/engparking","table":"93cca954-ca61-470a-a5b9-7d5f9fc49a3b"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@variables('userName')","actions":{"Send_an_HTTP_request_to_SharePoint_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://estifanos.sharepoint.com/teams/engparking","parameters/method":"GET","parameters/uri":"_api/web/SiteUsers/getByEmail('')","parameters/headers":{"content-type":"application/JSON;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"Foreach"},"Apply_to_each_2":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"userName","value":"@item()?['Editor']['Email']"}}},"runAfter":{"Get_items":["Succeeded"]},"type":"Foreach"},"Initialize_variable":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"userName","type":"array"}]}},"Send_an_HTTP_request_to_SharePoint_3":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://estifanos.sharepoint.com/teams/engparking","parameters/method":"GET","parameters/uri":"_api/web/lists/getbytitle('FlowTesting')/itemCount"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Terminate":{"runAfter":{"Select":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Compose":{"runAfter":{"CheckIfTrue":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('GetItems')?['body/value'])"},"AllData":{"runAfter":{"Terminate":["Succeeded"]},"type":"Compose","inputs":"@outputs('GetItems')?['body/value']"},"checkIfTitleContains":{"runAfter":{"AllData":["Succeeded"]},"type":"Compose","inputs":"@contains(outputs('AllData')[0]['Title'],'test1')"},"CheckIfTrue":{"actions":{},"runAfter":{"checkIfTitleContains":["Succeeded"]},"expression":{"equals":["@outputs('checkIfTitleContains')",true]},"type":"If"},"GetItems":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://estifanos.sharepoint.com/teams/engparking","table":"93cca954-ca61-470a-a5b9-7d5f9fc49a3b"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"ComposeBody":{"runAfter":{"GetItems":["Succeeded"]},"type":"Compose","inputs":"@body('GetItems').Title[0]"},"Select":{"runAfter":{"ComposeBody":["Succeeded"]},"type":"Select","inputs":{"from":"@outputs('ComposeBody')","select":{"Title":"@item()['Title']"}}}}}