2021-02-09/Flow/PowerApps_Back_Up_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_AppName":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AppName","type":"string"}]}},"Initialize_EnvironmentName":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EnvironmentName","type":"string"}]}},"Initialize_variable":{"runAfter":{"Initialize_AppName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AppDisplayName","type":"string"}]}},"Try":{"actions":{"Get_Environment_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins","connectionName":"shared_powerplatformforadmins","operationId":"GetSingleEnvironment"},"parameters":{"environment":"Default-9196ad5b-adce-4c99-a751-c07fb57d300f","api-version":"2018-10-01"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_Apps_as_Admin":{"runAfter":{"Get_Environment_as_Admin":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins","connectionName":"shared_powerappsforadmins","operationId":"Get-AdminApps"},"parameters":{"environment":"@outputs('Get_Environment_as_Admin')?['body/name']","api-version":"2016-11-01","$top":250},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"FOR_EACH_app":{"foreach":"@outputs('Get_Apps_as_Admin')?['body/value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"AppName","value":"@items('FOR_EACH_app')?['name']"}},"HTTP":{"runAfter":{"Get_App_as_Admin":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@outputs('Get_App_as_Admin')?['body/properties/appUris/documentUri/readonlyValue']"}},"Get_App_as_Admin":{"runAfter":{"Compose_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins","connectionName":"shared_powerappsforadmins","operationId":"Get-AdminApp"},"parameters":{"environment":"@outputs('Get_Environment_as_Admin')?['body/name']","app":"@variables('AppName')","api-version":"2016-11-01"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_2":{"runAfter":{"Set_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"AppDisplayName","value":"@{replace(replace(items('FOR_EACH_app')?['properties/displayName'],'/','_'),' ','_')}"}},"Compose_2":{"runAfter":{"Set_variable_2":["Succeeded"]},"type":"Compose","inputs":"FlowRocks"},"Compose_3":{"runAfter":{"Compose_2":["Succeeded"]},"type":"Compose","inputs":"powerAppsRepo"},"Compose_4":{"runAfter":{"Compose_3":["Succeeded"]},"type":"Compose","inputs":"replace(items('FOR_EACH_app')?['properties']?['DisplayName'],' ','-')"},"Create_file":{"runAfter":{"HTTP_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/PowerAppsBuckUp","name":"@{variables('AppDisplayName')}@{variables('TodaysDate')}.msapp","body":"@body('HTTP')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"HTTP_2":{"runAfter":{"HTTP":["Succeeded"]},"type":"Http","inputs":{"method":"PUT","uri":"https://api.github.com/repos/FlowRocks/MoStrepo/contents/@{variables('TodaysDate')}/PowerApps/@{variables('AppDisplayName')}_@{variables('TodaysDate')}.msapp","body":{"message":"my commit","content":"@{base64(body('HTTP'))}"},"authentication":{"type":"Basic","username":"FlowRocks","password":"@{outputs('SECRETS')}"}}}},"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_variable_3":["Succeeded"]},"type":"Scope"},"Catch":{"actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"IsError","value":"Yes"}}},"runAfter":{"Try":["Failed"]},"type":"Scope"},"Finally":{"actions":{"Condition":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"There is an error:\n@{result('Try')}"}},"runAfter":{},"expression":{"equals":["@variables('IsError')","Yes"]},"type":"If"}},"runAfter":{"Catch":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Scope"},"Initialize_IsError":{"runAfter":{"Initialize_EnvironmentName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsError","type":"string","value":"No"}]}},"Initialize_variable_2":{"runAfter":{"repoName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TodaysDate","type":"string","value":"@{FormatDateTime(utcNow(),'yyyy-MM-dd')}"}]}},"SECRETS":{"runAfter":{},"type":"Compose","inputs":"3cb4d8bc61fabf2c61982929ecc1a067b05176d5"},"UserName":{"runAfter":{"SECRETS":["Succeeded"]},"type":"Compose","inputs":"FlowRocks"},"repoName":{"runAfter":{"UserName":["Succeeded"]},"type":"Compose","inputs":"MoStrepo"},"Initialize_variable_3":{"runAfter":{"Initialize_IsError":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"pass","type":"string","value":"2021IsMyYear!"}]}}}}