2021-02-09/Flow/RestoreFromBackUp_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"get_Definition":{"runAfter":{"Get_Connection_2":["Succeeded"]},"metadata":{"b!_d8Bspz280-Wmk0Do2AJPATOVC4urAREmVnv_OmAYBCV9yUkvXy1QaTLJaw_IZ7F.01BXIPMLMKS7QXEEHPR5HIDED3AUHQTW4X":"/FlowBackUp/Save email attachments - Askal_FlowDef.json"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"b!_d8Bspz280-Wmk0Do2AJPATOVC4urAREmVnv_OmAYBCV9yUkvXy1QaTLJaw_IZ7F.01BXIPMLMKS7QXEEHPR5HIDED3AUHQTW4X","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_Connection":{"runAfter":{"get_Definition":["Succeeded"]},"metadata":{"b!_d8Bspz280-Wmk0Do2AJPATOVC4urAREmVnv_OmAYBCV9yUkvXy1QaTLJaw_IZ7F.01BXIPMLNWZJSMPNH2TJHJSGCP5IJGODYR":"/FlowBackUp/Save email attachments - Askal_conRef.json"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"b!_d8Bspz280-Wmk0Do2AJPATOVC4urAREmVnv_OmAYBCV9yUkvXy1QaTLJaw_IZ7F.01BXIPMLNWZJSMPNH2TJHJSGCP5IJGODYR","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_Flow":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement","connectionName":"shared_flowmanagement","operationId":"CreateFlow"},"parameters":{"environmentName":"Default-9196ad5b-adce-4c99-a751-c07fb57d300f","Flow/properties/displayName":"RestoredFlowFromBackUp","Flow/properties/definition":"@json(outputs('get_Definition')?['body'])","Flow/properties/state":"Started","Flow/properties/connectionReferences":"@variables('NewConnectionsArray')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"ConnectionJSON":{"runAfter":{"Get_Connection":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ConnectionJSON","type":"array","value":"@json(outputs('Get_Connection')?['body'])"}]}},"NewConnectionsArray":{"runAfter":{"ConnectionJSON":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NewConnectionsArray","type":"array"}]}},"Apply_to_each":{"foreach":"@variables('ConnectionJSON')","actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@removeProperty(items('Apply_to_each'),'displayName')"},"Append_to_array_variable":{"runAfter":{"Compose":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"NewConnectionsArray","value":"@outputs('Compose')"}}},"runAfter":{"NewConnectionsArray":["Succeeded"]},"type":"Foreach"},"get_Definition_2":{"runAfter":{"Terminate":["Succeeded"]},"metadata":{"b!_d8Bspz280-Wmk0Do2AJPATOVC4urAREmVnv_OmAYBCV9yUkvXy1QaTLJaw_IZ7F.01BXIPMLMKS7QXEEHPR5HIDED3AUHQTW4X":"/FlowBackUp/Save email attachments - Askal_FlowDef.json","b!_d8Bspz280-Wmk0Do2AJPATOVC4urAREmVnv_OmAYBCV9yUkvXy1QaTLJaw_IZ7F.01BXIPMLKA5H5CDQAVXBFLQYTOZRPEB33N":"/FlowBackUp/Array manipulation_FlowDef.json"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"b!_d8Bspz280-Wmk0Do2AJPATOVC4urAREmVnv_OmAYBCV9yUkvXy1QaTLJaw_IZ7F.01BXIPMLKA5H5CDQAVXBFLQYTOZRPEB33N","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_Connection_2":{"runAfter":{"get_Definition_2":["Succeeded"]},"metadata":{"b!_d8Bspz280-Wmk0Do2AJPATOVC4urAREmVnv_OmAYBCV9yUkvXy1QaTLJaw_IZ7F.01BXIPMLNWZJSMPNH2TJHJSGCP5IJGODYR":"/FlowBackUp/Save email attachments - Askal_conRef.json"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"b!_d8Bspz280-Wmk0Do2AJPATOVC4urAREmVnv_OmAYBCV9yUkvXy1QaTLJaw_IZ7F.01BXIPMLNWZJSMPNH2TJHJSGCP5IJGODYR","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_files_in_folder":{"runAfter":{},"metadata":{"b!_d8Bspz280-Wmk0Do2AJPATOVC4urAREmVnv_OmAYBCV9yUkvXy1QaTLJaw_IZ7F.01BXIPMLPQDLPPCIXL55AKKBPPSWFMRHKH":"/FlowBackUp"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ListFolderV2"},"parameters":{"id":"b!_d8Bspz280-Wmk0Do2AJPATOVC4urAREmVnv_OmAYBCV9yUkvXy1QaTLJaw_IZ7F.01BXIPMLPQDLPPCIXL55AKKBPPSWFMRHKH"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Terminate":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Apply_to_each_3":{"foreach":"@outputs('List_files_in_folder')?['body']","actions":{"Get_file_content":{"runAfter":{"Compose_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"parameters":{"id":"@body('Parse_JSON')?['Name']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_3":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_3')?['Name']"}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"},"Parse_JSON":{"runAfter":{"List_files_in_folder":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('List_files_in_folder')?['body']","schema":{"type":"object","properties":{"Name":{"type":"string"}}}}}}}