2021-02-09/Flow/Schedule_1_1_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"ForASelectedMessage","inputsAdaptiveCard":"{\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"type\":\"AdaptiveCard\",\"version\":\"1.2\",\"body\":[{\"type\":\"TextBlock\",\"text\":\"Schedule a 1:1 meeting with message sender\",\"weight\":\"Bolder\",\"size\":\"Medium\"},{\"type\":\"TextBlock\",\"text\":\"Fill in meeting details below\",\"isSubtle\":true,\"wrap\":true},{\"type\":\"TextBlock\",\"text\":\"Meeting subject\",\"wrap\":true},{\"type\":\"Input.Text\",\"id\":\"meetingSubject\",\"placeholder\":\"Subject of meeting\",\"spacing\":\"None\"},{\"type\":\"TextBlock\",\"text\":\"Meeting details\",\"wrap\":true},{\"type\":\"Input.Text\",\"id\":\"meetingDetails\",\"placeholder\":\"Description of meeting\",\"style\":\"Email\",\"spacing\":\"None\"},{\"type\":\"TextBlock\",\"text\":\"Meeting date\"},{\"type\":\"Input.Date\",\"id\":\"meetingDate\"},{\"type\":\"TextBlock\",\"text\":\"Meeting time\"},{\"type\":\"Input.Time\",\"id\":\"meetingTime\"}],\"actions\":[{\"type\":\"Action.Submit\",\"title\":\"Submit\"}],\"-ms-tokens\":{}}"}},"type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"cardOutputs":{"type":"object","properties":{"meetingSubject":{"title":"meetingSubject","type":"string"},"meetingDetails":{"title":"meetingDetails","type":"string"},"meetingDate":{"title":"meetingDate","type":"string"},"meetingTime":{"title":"meetingTime","type":"string"}}},"teamsFlowRunContext":{"type":"object","properties":{"messagePayload":{"title":"messagePayload","type":"object"},"locale":{"title":"Locale","type":"string"}}}},"required":["cardOutputs","teamsFlowRunContext"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"}},"operationId":"ForASelectedMessage","parameters":{"inputsAdaptiveCard":"{\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"type\":\"AdaptiveCard\",\"version\":\"1.2\",\"body\":[{\"type\":\"TextBlock\",\"text\":\"Schedule a 1:1 meeting with message sender\",\"weight\":\"Bolder\",\"size\":\"Medium\"},{\"type\":\"TextBlock\",\"text\":\"Fill in meeting details below\",\"isSubtle\":true,\"wrap\":true},{\"type\":\"TextBlock\",\"text\":\"Meeting subject\",\"wrap\":true},{\"type\":\"Input.Text\",\"id\":\"meetingSubject\",\"placeholder\":\"Subject of meeting\",\"spacing\":\"None\"},{\"type\":\"TextBlock\",\"text\":\"Meeting details\",\"wrap\":true},{\"type\":\"Input.Text\",\"id\":\"meetingDetails\",\"placeholder\":\"Description of meeting\",\"style\":\"Email\",\"spacing\":\"None\"},{\"type\":\"TextBlock\",\"text\":\"Meeting date\"},{\"type\":\"Input.Date\",\"id\":\"meetingDate\"},{\"type\":\"TextBlock\",\"text\":\"Meeting time\"},{\"type\":\"Input.Time\",\"id\":\"meetingTime\"}],\"actions\":[{\"type\":\"Action.Submit\",\"title\":\"Submit\"}],\"-ms-tokens\":{}}"}}}},"actions":{"Create_a_Teams_meeting":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"CreateTeamsMeeting"},"parameters":{"calendarid":"Calendar","item/subject":"@triggerBody()?['entity']?['cardOutputs']?['meetingSubject']","item/body/content":"@{triggerBody()?['entity']?['cardOutputs']?['meetingDetails']}@{triggerBody()?['entity']?['cardOutputs']?['meetingDate']}","item/timeZone":"Central Standard Time","item/start/dateTime":"@variables('MeetingStartTime')","item/end/dateTime":"@variables('MeetingEndTime')","item/requiredAttendees":"@outputs('Get_user_profile_(V2)')?['body/mail']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_MeetingStartTime":{"runAfter":{"Initialize_Time_Prefix":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"MeetingStartTime","type":"string","value":"@{concat(triggerBody()?['entity']?['cardOutputs']?['meetingDate'], variables('TimePrefix'), triggerBody()?['entity']?['cardOutputs']?['meetingTime'])}"}]}},"Initialize_MeetingEndTime":{"runAfter":{"Initialize_MeetingStartTime":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"MeetingEndTime","type":"string","value":"@{addToTime(variables('MeetingStartTime'), 30, 'Minute')}"}]}},"Get_user_profile_(V2)":{"runAfter":{"Initialize_MeetingEndTime":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['from']?['user']?['id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_Time_Prefix":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"TimePrefix","type":"string","value":"T"}]}}},"description":"Allows you to schedule a meeting with the sender of a message from any Teams chat or channel message"}