2021-02-09/Flow/Send_an_email_to_create_GitHub_issues_FlowDef.json
{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_email_arrives_(webhook)":{"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateOnNewEmailSubscription"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/MailSubscription/$subscriptions","queries":{"folderPath":"Inbox","importance":"Any","hasAttachment":"Any"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Create_an_issue":{"runAfter":{"Get_email":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateIssue"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_github']['connectionId']"}},"method":"post","body":{"title":"@triggerBody()?['Subject']","body":"@body('Get_email')['Body']"},"path":"/repos/@{encodeURIComponent('FlowRocks')}/@{encodeURIComponent('powerAppsRepo')}/issues","authentication":"@parameters('$authentication')"}},"Get_email":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"}},"method":"get","path":"/v2/Mail/@{encodeURIComponent(triggerBody()?['Id'])}","queries":{"includeAttachments":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":"@contains(triggerBody()?['Subject'], 'Issue')","type":"If"}},"outputs":{},"description":"Send an email in order to create a new issue in your GitHub repository."}